<div class="habilidades" >
    <h2 class="flex-trabajo">Conocimientos</h2>
    <div class="habilidades-contenedor">
        <div class="flex">
            <div id="hex" class="">
                <div id="hex-1" class="">
                    <div id="hex-2" class="bg2 flex"> 
                        <i id="mensaje3" class="fas fa-laptop"></i>  
                        
                        <ul id="mensaje2">
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                        </ul>
                    </div>
                </div>
            </div>    
            <div id="hex" class="">
                <div id="hex-1" class="">
                    <div id="hex-2" class="bg2 flex">   
                        <i id="mensaje3" class="fas fa-laptop-code"></i> 
                        
                            <ul id="mensaje2">
                                <li>Java</li>
                                <li>PHP</li>
                                <li>NodeJs</li>
                                <li>Python</li>
                            </ul>
                    </div>
                </div>
            </div>
            <div id="hex" class="">
                <div id="hex-1" class="">
                    <div id="hex-2" class="bg2 flex">
                        <i id="mensaje3" class="fas fa-database"></i>    
                        
                        <ul id="mensaje2">
                            <li>MongoDB</li>
                            <li>MySQL</li>
                            <li>FireBase</li>
                            <li>PostgreSQL</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
    </div>    
</div>

<div class="trabajos">
    <div class="cont-trabajos">
        <h2 class="flex-trabajo">Proyectos</h2>
        <div class="cont-cadatrabajo">
            <div class="flex-cadatrabajo">
                <h3>Dashboard</h3>
                <div>
                    <h4>Tecnologias utilizadas</h4>
                    <ul>
                        <li>Java(SpringBoot)</li>
                        <li>CSS</li>
                        <li>Datatables.js</li>
                        <li>MySQL</li>
                    </ul>
                </div>
                <div class="img-trabajos">
                    <img src="../../../assets/img/dash.png" alt="dashboard" >
                </div>
            </div>
        </div>
    </div>
</div>