<div class="conoceme">
    <h2 class="flex">Conoceme</h2>
    <div class="cont-conoceme">
        <div class="img-conoceme">
            <img src="./assets/img/perfil.png" alt="AlexRoque">
        </div>
        <div class="conoceme-der">
            <h2>Me presento mi nombre es Alex Roque, tengo ya 3 años trabajando como desarrollador Web</h2>

            <div>
                <p>
                    Tengo amplio conocimiento en el desarrollo web,
                    tanto en la version nativa como en Frameworks. Algo importante en este giro
                    es siempre re-invertarte y no quedarte unicamente con lo que se aprendio una vez. 
                    Para conseguir este fin, me encuentro en constante actualización.
                </p>
            </div>
        </div>
    </div>
</div>