<div class="inicio"> <a name="inicio"></a>
    <div class="contenedor-inicio">
        
        <div class="inicio-cont">
            <div class="inicio-der">
                

            </div>
            <div class="inicio-izq">
                <h2>Hola, Soy Alex Roque, el desarrollador web que te ayudara a crecer tu negocio</h2>

                <div>
                    <p>
                        Construiremos la mejor solución para tu negocio.
                        ¿Deseas aumentar ventas, administrar personal o proyectos?
                        Cualquiera sea el caso estamos para trabajar en ello,
                        tu proyecto atraera la atención que necesitas para crecer.
                    </p>
                </div>
                <div class="inicio-button">
                
                
                <a [routerLink]="['/proyectos']" class="button">Mis proyectos</a>
            </div>
            </div>

        </div>
    </div>
</div>